name: Build and Push API Image

on:
  push:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Image
      run: |
        IMAGE_TAG=${{ github.sha }}
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/fraudflow-api:$IMAGE_TAG .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/fraudflow-api:$IMAGE_TAG

    - name: Update Kubernetes Manifest
      run: |
        IMAGE_TAG=${{ github.sha }}
        sed -i "s|image: .*fraudflow-api.*|image: ${{ secrets.DOCKERHUB_USERNAME }}/fraudflow-api:$IMAGE_TAG|" k8s/deployment.yaml

    - name: Commit updated manifest
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add k8s/deployment.yaml
        git commit -m "ci: update image tag to $IMAGE_TAG"
        git push
